.container{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail{
    height:100px;
}

div.left-side {
    float: left;
    width: 20%;
    margin: 0 10px 0 0;
}

div.right-side {
    float: right;
    position: relative;
    width: 78%;
}

div.happening-panel {
    margin-top: 470px;
}
